[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
	branch = main
[submodule "themes/hermit"]
	path = themes/hermit
	url = https://github.com/Track3/hermit.git
