<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/syntax.css" />
  <link rel="preconnect" href="https://cdnjs.cloudflare.com" />

  <!-- Meta Tags -->
  <meta name="title" content="Md Nahid Hasan" />
  <meta
    name="description"
    content="Nahid is an aspiring Software Engineer, Competitve Programmer, AI Enthusiast and more. He's always looking forward to learning something new and taking difficult challenge to solve."
  />
  <meta
    name="keywords"
    content="nahid, hasan, nahid hasan,  joynahid, joynahiid, software engineer, competitive programmer, codeforces, expert,  problem solver,  ai , machine learning, deep learning, blog, nahid hasan joy, joy nahid, dreamer, nightcrawler, mr robot, computerphile"
  />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="language" content="English" />
  <meta name="revisit-after" content="1 days" />
  <meta name="author" content="Md Nahid Hasan" />

  <title>
    {% if page.tag or page.title %} {% if page.tag %} {{ page.tag | escape }} {%
    else %} {{ page.title | escape }} {% endif %} - {% endif %} {% if paginator
    and paginator.page and paginator.total_pages > 1 and paginator.page > 1 %}
    Page {{ paginator.page }} of {{ paginator.total_pages }} - {% endif %} {{
    site.title | escape }} {% unless page.tag or page.title %} - {{
    site.description | escape }} {% endunless %}
  </title>

  <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico" />
  <link
    rel="alternate"
    type="application/atom+xml"
    title="{{ site.title }}"
    href="{{ site.baseurl }}/atom.xml"
  />
  <link rel="alternate" type="application/json" title="{{ site.title }}"
  href="{{ "/feed.json" | prepend: site.baseurl | prepend: site.url }}" />
  <link
    rel="sitemap"
    type="application/xml"
    title="sitemap"
    href="{{ site.baseurl }}/sitemap.xml"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />

  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.12.0/devicon.min.css"
  />

  {% if site.googlewebfonts %}
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family={{ site.googlewebfonts }}&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700;800&display=swap"
    rel="stylesheet"
  />
  <link rel="preconnect" href="https://fonts.gstatic.com" />
  <link
    href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
    rel="stylesheet"
  />
  {% endif %}

  <style>
    {% capture include_to_scssify %}
      {% include inline.scss %}
    {% endcapture %}
    {{ include_to_scssify | scssify }}
  </style>
</head>
