---
import CenteredLayout from "../layouts/CenteredLayout.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
// import HomeProfile from "../components/HomeProfile.astro";

// Get all blog posts sorted by date
const posts = (await getCollection("blog", ({ data }) => {
	return data.draft !== true
})).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<CenteredLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<!-- Blog Posts Section -->
	<section class="py">
		<p class="text-sm pb-4">
			I enjoy writing about tech - from high-level concepts down to the nitty-gritty details, using Python, Go, Rust, and whatever else catches my interest.
		</p>
		<div class="space-y-2">
			{
				posts.map((post) => (
					<a
						class:list={[
							"flex flex-col my-2",
							"hover:backdrop-blur-md",
							"hover:p-3 hover:bg-gray-900 hover:text-amber-100 hover:bg-gradient-to-r hover:from-gray-900/60 hover:via-blue-900/30 hover:to-purple-900/60",
							"rounded-md",
							"transition-all"
						]}
						href={`/blog/${post.id}/`}
					>
						<span class="text-gray-400 text-xs text-base-100 tracking-tight">
							{post.data.pubDate.toLocaleDateString("en-us", {
								year: "numeric",
								month: "long",
								day: "numeric",
							})}
						</span>
						<span class="font-bold">
							{post.data.title}
						</span>
					</a>
				))
			}
		</div>
	</section>
</CenteredLayout>
