---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
import TopBio from "./TopBio";
import SiteName from "./SiteName";
import { Image } from "astro:assets";
import Nav from "./Nav.astro";
---

<nav>
	<SiteName />
	<div class="group relative flex items-center rounded-full bg-red-600 gap-2 ring-2 ring-red-500/50 ring-offset-2 ring-offset-[#fafafa] dark:ring-offset-[#1a1a1a] transition-all duration-300 hover:scale-110">
		<Image
			class:list={["rounded-full"]}
			src="/assets/nahid.png"
			alt="Nahid"
			width={55}
			height={55}
		/>
		<div class="absolute -bottom-10 left-1/2 -translate-x-1/2 pointer-events-none whitespace-nowrap rounded bg-gray-900 px-2 py-1 text-xs text-white opacity-0 transition-all duration-200 group-hover:bottom-[-44px] group-hover:opacity-100 dark:bg-gray-100 dark:text-gray-900">
			Not replaced by AI yet
			<div class="absolute -top-1 left-1/2 -translate-x-1/2 border-x-4 border-b-4 border-x-transparent border-b-gray-900 dark:border-b-gray-100"></div>
		</div>
	</div>

	<style>
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	</style>
</nav>


<div class="mb-2">
	<Nav />
</div>