---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
import ThemeToggle from "./ThemeToggle.astro";
import TopBio from "./TopBio";
import SiteName from "./SiteName";
import { Image } from "astro:assets";
import Nav from "./Nav.astro";
---

<nav>
	<SiteName />
	<div class="flex items-center rounded-full bg-red-600 gap-2">
		<Image
			class:list={["rounded-full"]}
			src="/assets/nahid.png"
			alt="Nahid"
			width={35}
			height={35}
		/>
	</div>

	<style>
		nav {
			display: flex;
			align-items: center;
			justify-content: space-between;
		}
	</style>
</nav>


<div class="mb-2">
	<Nav />
</div>