---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";



---


<div class="select-none flex items-center">
  <HeaderLink href="/">Home</HeaderLink>
  <HeaderLink class:list={["ml-2"]} href="/about">About</HeaderLink>
  <!-- <HeaderLink class:list={["ml-2"]} href="/blog">Blog</HeaderLink> -->
  <ThemeToggle />
</div>
