---
import HeaderLink from "./HeaderLink.astro";
import ThemeToggle from "./ThemeToggle.astro";
import { House, Cloud } from "lucide-react";
---

<div class="select-none flex items-center gap-3">
  <HeaderLink href="/" class="flex items-center gap-1.5">
    <House className="w-3.5 h-3.5" />Home
  </HeaderLink>
  <HeaderLink href="/bluesky" class="flex items-center gap-1.5">
    <Cloud className="w-3.5 h-3.5" />Bluesky
  </HeaderLink>
  <ThemeToggle />
</div>
