---
import type { CollectionEntry } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import Prose from "../components/Prose.astro";
import CenteredLayout from "./CenteredLayout.astro";
import PostTitle from "../components/PostTitle";
import { GITHUB_REPO_URL } from "../consts";
import {
  Breadcrumb,
  BreadcrumbItem,
  BreadcrumbLink,
  BreadcrumbList,
  BreadcrumbSeparator,
} from "@/components/ui/breadcrumb"
import { HomeIcon } from "lucide-react";


type Props = CollectionEntry<"posts">["data"];

const { title, description, pubDate } = Astro.props;

const buildGithubUrl = () => {
	return `${GITHUB_REPO_URL}/blob/main/src/content/${Astro.url.pathname.slice(0, Astro.url.pathname.lastIndexOf("/"))}.md`;
};
---

<CenteredLayout title={title} description={description}>
	<Breadcrumb>
		<BreadcrumbList>
			<BreadcrumbItem>
				<BreadcrumbLink href="/"><HomeIcon client:load className="w-4 h-4" /></BreadcrumbLink>
			</BreadcrumbItem>
			<BreadcrumbSeparator />
			<BreadcrumbItem>
				<BreadcrumbLink class:list={["select-none"]}>Here</BreadcrumbLink>
			</BreadcrumbItem>
		</BreadcrumbList>
	</Breadcrumb>
	<article>
		<div>
			<div class="title">
				<PostTitle
					client:load
					date={pubDate.toLocaleDateString("en-us", {
						year: "numeric",
						month: "short",
						day: "numeric",
					})}
					title={title}
				/>
			</div>
		</div>

		<Prose>
			<slot />
		</Prose>
	</article>
</CenteredLayout>

<style>
	.hero-image {
		width: 100%;
		margin-bottom: 2rem;
	}
	.hero-image img {
		display: block;
		/* margin: 0 auto; */
	}
	.date {
		margin-bottom: 0.5em;
	}
	.last-updated-on {
		font-style: italic;
	}
</style>
