<form class="flex flex-col sm:flex-row items-center w-full" action="https://api.web3forms.com/submit" method="POST">
  <input type="hidden" name="access_key" value="a2581673-cb36-452b-be5c-166291a11ae8">

  <div class="flex-auto w-full">
    <input
      type="email"
      id="emailsubscription"
      class="h-12 w-full mx-1 my-2 sm:my-0 bg-transparent appearance-none focus:outline-dotted focus:outline-2 focus:outline-transparent"
      placeholder="Your Email"
      name="email"
      maxlength="1000"
      required
    />
  </div>

  <div class="w-2/3 sm:w-1/3">
    <button
      type="submit"
      class="py-3 px-5 w-full text-sm font-medium text-gray-900 focus:outline-none bg-white border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-200 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700"
    >
      Subscribe
    </button>
  </div>
</form>
